services:
  db:
    image: postgres
    restart: always
    ports:
      - 5433:5432
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: mysecretpassword
      POSTGRES_DB: local

  app:
    build: .
    ports:
      - "3000:3000"
    environment:
      POSTGRES_URL: postgres://postgres:mysecretpassword@db:5432/local
      # Add other necessary environment variables here, or use env_file
    depends_on:
      - db
