@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: 0 0% 100%;
		--foreground: 240 10% 20%;

		--muted: 0 0% 92%;
		--muted-foreground: 0 0% 36%;

		--popover: 0 0% 100%;
		--popover-foreground: 240 10% 3.9%;

		--card: 329 3% 96%;
		--card-foreground: 240 10% 3.9%;

		--border: 240 5.9% 90%;
		--input: 240 5.9% 90%;

		--primary-text: 329 100% 43%;
		--primary: 329 100% 45%;
		--primary-foreground: 0 0% 100%;

		--secondary: 240 4.8% 91%;
		--secondary-foreground: 240 7% 10%;

		--accent: 0 0% 99;
		--accent-foreground: 240 5.9% 10%;

		--destructive: 0 72% 40%;
		--destructive-foreground: 0 72% 40%;

		--success: 123 38% 37%;
		--success-foreground: 123 38% 10%;

		--info: 199 92% 36%;
		--info-foreground: 199 92% 56%;

		--ring: 240 10% 3.9%;

		--radius: 0.5rem;
	}

	.dark {
		--background: 212 26% 8%;
		--foreground: 0 0% 87%;

		--muted: 212 26% 13%;
		--muted-foreground: 240 5% 64.9%;

		/* --popover: 240 10% 3.9%;
		--popover-foreground: 0 0% 98%; */

		--card: 212 27% 6%;
		--card-foreground: 0 0% 98%;

		--border: 240 3.7% 35.9%;
		--input: 240 3.7% 35.9%;

		--primary-text: 329 100% 55%;
		--primary: 329 100% 45%;
		--primary-foreground: 0 0% 100%;

		--secondary: 240 3.7% 15.9%;
		--secondary-foreground: 0 0% 98%;

		--accent: 240 3.7% 15.9%;
		--accent-foreground: 0 0% 98%;

		--destructive: 0 62% 60%;
		--destructive-foreground: 0 82% 90%;

		--success: 123 38% 57%;
		--success-foreground: 123 38% 88%;

		--info: 199 92% 56%;
		--info-foreground: 199 92% 56%;

		--ring: 240 4.9% 83.9%;
	}
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;

		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		background-image: radial-gradient(circle, hsl(var(--background)) 46%, hsl(var(--muted)));
	}
}

:root {
	interpolate-size: allow-keywords;
}
