@import 'tailwindcss';
@plugin '@tailwindcss/typography';

@custom-variant dark (&:where(.dark, .dark *));

:root {
	/* Custom theme color options */
	--theme-color-pink: #e60077;
	--theme-color-purple: #8645b5;
	--theme-color-blue: #2071c9;
	--theme-color-teal: #068484;
}

@layer base {
	:root {
		interpolate-size: allow-keywords;

		--header-height: 64px; /* Default value. May be overwritten in Header. */

		--background: 0 0% 100%;
		--foreground: 240 10% 20%;

		--muted: 0 0% 92%;
		--muted-foreground: 0 0% 36%;

		--popover: 0 0% 100%;
		--popover-foreground: 240 10% 5%;

		--card: 329 3% 98%;
		--card-foreground: 240 10% 3.9%;

		--border: 240 6% 84%;
		--input: 240 6% 84%;

		--primary-foreground: 0 0% 100%;

		--secondary: 240 4.8% 91%;
		--secondary-foreground: 240 7% 10%;

		--destructive: 0 72% 40%;
		--destructive-foreground: 0 0% 100%;

		--success: 123 38% 37%;
		--success-foreground: 123 38% 30%;

		--info: 199 92% 36%;

		--ring: 240 10% 3.9%;

		--radius: 0.5rem;
	}

	.dark {
		--background: 212 26% 8%;
		--foreground: 0 0% 87%;

		--muted: 212 12% 27%;
		--muted-foreground: 240 5% 64.9%;

		--popover: 0 0% 5%;
		--popover-foreground: 240 10% 85%;

		--card: 212 19% 15%;
		--card-foreground: 0 0% 98%;

		--border: 240 3.7% 30%;
		--input: 240 3.7% 30%;

		--primary-foreground: 0 0% 100%;

		--secondary: 240 3.7% 15.9%;
		--secondary-foreground: 0 0% 98%;

		--destructive: 0 90% 60%;
		--destructive-foreground: 0 0% 100%;

		--success: 123 38% 57%;
		--success-foreground: 123 38% 88%;

		--info: 199 92% 56%;

		--ring: 240 4.9% 83.9%;
	}

	button:not(:disabled),
	[role='button']:not(:disabled) {
		cursor: pointer;
	}

	body {
		@apply bg-background text-foreground;

		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		background-image: radial-gradient(circle, hsl(var(--background)) 46%, hsl(var(--muted)));
	}
}

@utility container {
	margin-inline: auto;
	padding-inline: 1.2rem;

	@media (width >= theme(--breakpoint-xs)) {
		padding-inline: 1.4rem;
		max-width: 100%;
	}

	@media (width >= theme(--breakpoint-lg)) {
		max-width: var(--breakpoint-lg);
	}
}

/* Detect touch device. Used for dropzone vs button */
@custom-variant dz (@media (hover: hover) and (pointer: fine));

@theme {
	--color-*: initial;

	--breakpoint-xs: 26rem; /* 416px */
	--breakpoint-2xl: initial;

	--color-border: hsl(var(--border));
	--color-input: hsl(var(--input));
	--color-ring: hsl(var(--ring));

	--color-background: hsl(var(--background));
	--color-foreground: hsl(var(--foreground));

	--color-primary: var(--theme-color-pink);
	--color-primary-foreground: hsl(var(--primary-foreground));

	--color-secondary: hsl(var(--secondary));
	--color-secondary-foreground: hsl(var(--secondary-foreground));

	--color-destructive: hsl(var(--destructive));
	--color-destructive-foreground: hsl(var(--destructive-foreground));

	--color-success: hsl(var(--success));
	--color-success-foreground: hsl(var(--success-foreground));

	--color-info: hsl(var(--info));

	--color-muted: hsl(var(--muted));
	--color-muted-foreground: hsl(var(--muted-foreground));

	--color-popover: hsl(var(--popover));
	--color-popover-foreground: hsl(var(--popover-foreground));

	--color-card: hsl(var(--card));
	--color-card-foreground: hsl(var(--card-foreground));
}

@utility prose {
	--tw-prose-body: hsl(var(--foreground));
	--tw-prose-headings: hsl(var(--foreground));
	--tw-prose-lead: hsl(var(--foreground));
	--tw-prose-links: hsl(var(--foreground));

	--tw-prose-bold: hsl(var(--foreground));
	--tw-prose-counters: hsl(var(--foreground));
	--tw-prose-bullets: hsl(var(--border));
	--tw-prose-hr: hsl(var(--border));
	--tw-prose-quotes: hsl(var(--muted-foreground));
	--tw-prose-quote-borders: hsl(var(--border));
	--tw-prose-captions: hsl(var(--muted-foreground));

	--tw-prose-code: hsl(var(--foreground));
	--tw-prose-pre-code: hsl(var(--foreground));
	--tw-prose-pre-bg: hsl(var(--muted));
	--tw-prose-th-borders: hsl(var(--border));
	--tw-prose-td-borders: hsl(var(--border));
}
